#SERVER
APP_PORT = 3000

# DATABASE
MONGO_DB_NAME = 'your_db_name'
MONGO_CONNECTION_URI = 'your mongo connection uri'

#JWT
JWT_SECRET = 'your secret string'
JWT_ACCESS_TOKEN_LIFETIME_IN_SECONDS = 10 # 10 seconds
JWT_REFRESH_TOKEN_LIFETIME_IN_SECONDS = 20 # 20 seconds

#EMAIL
EMAIL_SERVICE_USER_LOGIN = 'your login'
EMAIL_SERVICE_USER_EMAIL = 'sender email'
EMAIL_SERVICE_PASSWORD = 'your password'