#SERVER
APP_PORT = 3000

# DATABASE
MONGO_DB_NAME = 'your_db_name'
MONGO_CONNECTION_URI = 'your mongo connection uri'

#JWT
JWT_SECRET = 'your secret string'
JWT_ACCESS_TOKEN_LIFETIME_IN_SECONDS = 60 * 5 # 5 minutes

#EMAIL
EMAIL_SERVICE_USER_LOGIN = 'your login'
EMAIL_SERVICE_USER_EMAIL = 'sender email'
EMAIL_SERVICE_PASSWORD = 'your password'